<div class="welcomeDiv">
    <h3 style="color:rgba(94, 196, 20, 0.778);" class="welcome"> Bienvenido <span id="user">{{username}}</span> </h3>
    <a href="/carrito"> Mi carrito </a>
    <a href="/logout"> Logout </a>
</div>
